# rust
target
**/*.rs.bk

# leptos / frontend
app/dist

# mdbook
docs/book

# Mac OS shenanigans
.DS_Store

# VSCode File History
.history/

# GitLab Pages expects the static website (mdBook)
# to be rendered in the public/ directory
public
